.btn{
    width:  5rem;
    height: 1.7rem;
    margin: 0 0.2rem;
    border: none;
    color: #ffff;
}

.btn:focus{
    outline: none;
}

.btn:hover{
    border: 2px solid #ffffff;
}

.btn-success {
    background-color: #57ae4f;
}
.btn-danger {
    background-color: #fb2d68;
}
.btn-primary {
    background-color: #4fae9e;
}